.header--bg{
    background: black;
}

.header--wrapper{
    padding-top: 10px;
    padding-bottom:30px;
  }

.header__title{
    font-size: 80px;
    color: #fff;
    font-weight: 800;
  }

.header__title--light{
      font-family: Roboto-Light;
      font-weight: 100;
    }

.header__paragraph{
    font-size: 20px;
    color: #fff;
    max-width: 850px;
    font-family: Roboto-Light;
    margin-bottom: 45px;
  }

.login_section{
    margin-top: 0px;
    background: white;
}
.login_container {
    height: 350px;
    width: 500px;
    vertical-align: center;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    background: black;
}
.login_container h3{
    color: white;
    margin-bottom: 0px;
}

#login_title{
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.box_choice{
    background-color: white;
    width: 350px;
    height: 50px;
    margin: auto;
    position: relative;
    left:75px;
    margin-top: 10px;
    
}
.box_choice:hover{
    border: 3px solid black;
    
}

.login_details_container{
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-top: 50px;
    position: relative;
    bottom: 20px;
}
#password_container{
    margin-top: 100px;
}
#button_container{
    margin: auto;
    
}
.black_background_button{
    margin: auto;
    position: relative;
    top: 30px;
    left: 169px;
}
#description{
    text-align: center;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}

.input{
    width: 350px;
    height: 50px;
    border:  none;
    position: relative;
    font-size: 20px;
    
    
    
}
.input:focus{
    outline: none;
}