<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="favicon.ico" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Cheat Sheet</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="temp/styles/styles.css">
        <link rel="stylesheet" href="temp/user_css.css">
    </head>
    <body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="script/login.js"></script>
        <script src="script/style_section.js"></script>
        <script src="script/option_section.js"></script>
        <script src="script/main_script.js"></script>
        <header class="header header--bg">
            <div class="container header--wrapper">
              <h1 class="header__title" onclick="window.location.href='home.html'"><span class="header__title--light">CHEAT<br></span> SHEET</h1>
              <p class="header__title"><span class="header__title--light">Welcome</span> Username</p>
            </div>
          </header>
    </body>
</html>